doctype html
html
	head
		title='Sudoku Code Challenge'
		link(rel='stylesheet' type='text/css' href='./dist/style.css')
	body
		h1='Sudoku'
		div(id='container')
		div(id='menu')
			button( onClick='SUDOKU.getInstance().reset()' ) Reset Game
			button( onClick='SUDOKU.getInstance().solve()' ) Solve Game
			button( onClick='SUDOKU.getInstance().validate()' ) Validate Board
		

		script(src='./dist/app.js')