doctype html
html
	head
		title='Sudoku Code Challenge'
		link(href='./style.js')
	body
		p(id='app') Hello worldlings, we have come to free you from your bondage!
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='./dist/app.js')