doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title='Sudoku'
		link(rel='stylesheet' type='text/css' href='./dist/style.css')

	body
		h1='Sudoku'
		div(id='container' class='container')
		div(id='buttons' class='buttons')
			button(class='js-reset-game') Reset Game
			button(class='js-solve-game') Solve Game
			button(class='js-validate-game') Validate Board

		script(src='./dist/bundle.js')
		